@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background: var(--co-1);
    font-family: DM Sans;
}
:root{
    --co-1: #030303;
    --co-2: #101013;
    --co-3: #eff8ff;
    --co-4: #a6b8c5;
    --co-6: #070708;
    --pres-wi: 250px;
}
.form{
    width: calc(100% - 250px);
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}
#cover {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.song-item img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
}
#player{
    width: var(--pres-wi);
    height: 100vh;
    border-left: 1px solid var(--co-2);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: fixed;
    right: 0;
    background: #fff ;
}
#song-title{
    color: var(--co-3);
}
#controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#controls button{
    color: var(--co-4);
    background: transparent;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 15px;
    transition: 300ms ease-in-out;
}
#controls button:hover{
    background: var(--co-6);
    border: 1px solid var(--co-2);
    color: var(--co-3);
}
#progress-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
#progress-container{
    color: var(--co-3);
}
#progress{
    width: 100%;
}
#songList{
    width: calc(100% - 250px);
    background: var(--co-6);
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: var(--co-3);
    gap: 20px;
    position: fixed;
    overflow-y: auto;
    height: calc(100vh - 60px);
}
.song-item{
    width: 100%;
    border-bottom: 1px solid var(--co-2);
    padding: 15px;
}
#songList button{
    color: var(--co-4);
    background: none;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-family: inherit;
    font-size: 1rem;
    transition: 300ms ease-in-out;
}
#songList button:hover{
    background: var(--co-6);
    border: 1px solid var(--co-2);
    color: var(--co-3);
}
